<h1>Browse Forge Hubs</h1>

<table class="table">
  <tr>
    <!-- <th>id</th> -->
    <th>Name</th>
    <th>Type</th>
    <th></th>
  </tr>

  <% @hubs.each do |hub| %>
    <tr>
      <!-- <td><%= hub.id %></td> -->
      <td>
        <span class="glyphicon glyphicon-globe"></span>
        <%= link_to hub.name, forge_data_projects_path(hub.id) %>
      </td>
      <td><%= hub.type %></td>

      <td><%= link_to 'Properties', forge_data_hub_show_path(hub.id) %>
      </td>
    </tr>
  <% end %>
</table>
