    /* Extension Styles */
    .my-view-lock-button {
      background: red;
    }
    .my-view-unlock-button {
      background: blue;
    }
    .my-view-list-objects-button {
      background: yellow;
    }
