<h1>Forge Samples</h1>
<ul>
  <li><%= link_to "Upload sample file and view on Viewer", upload_sample_run_path %></li>
  <li><%= link_to "Browse User Hubs, Projects and Files", forge_auth_login_path %></li>
</ul>
