<h1>Autodesk Forge Samples</h1>
<ul>
  <li><%= link_to "Upload sample file and view in Basic Viewer", upload_sample_run_path %></li>
  <li><%= link_to "Browse User Hubs, Projects and Files", forge_login_path %></li>
  <li><%= link_to "Browse App Buckets and Objects", forge_login_app_path %></li>
  <li><%= link_to "Experiment with different capabilities of Viewer", viewer_sample_path %></li>
</ul>
