<h1>Forge Samples</h1>
<ul>
  <li><%= link_to "Upload sample file and view on Forge", :controller => "upload_sample", :action => "run" %></li>
  <li><%= link_to "Login to Autodesk Account", :controller => "forge_auth", :action => "login" %></li>
</ul>
