<div class="jumbotron" id="login">
  <h1>Login to Autodesk Account</h1>
  <p>We need to login to your Autodesk Account in order to access A360, BIM360 Team, Fusion Team and BIM 360 Docs data</p>
  <p>
    <%= link_to "Click here to Login", @login_url, class: "btn btn-lg btn-info", role: "button" %>
  </p>
</div>
